{{define "style"}}
<link rel="stylesheet" href="/static/styles/home.css" />
{{end}} {{define "title"}}Forum{{end}} {{define "content"}}
<div class="lay-out"></div>
<h1 class="greeting">Welcome,</h1>
<button class="show-postForm"><img src="/static/images/add.png" /></button>
<form id="postForm" class="postForm">
  <label class="create_Post" for="post">Create Post:</label>
  <input
    class="title_inpt"
    type="text"
    id="post"
    name="title"
    placeholder="Post Title"
    required
  />
  <textarea class="post_contant" name="content" id="content"></textarea>
  <input name="filename" type="file" />
  <div class="checkbox-container">
    <label class="checkbox-wrapper">
      <input type="checkbox" class="checkbox-input" />
      <span class="custom-checkbox">developpment</span>
    </label>

    <label class="checkbox-wrapper">
      <input type="checkbox" class="checkbox-input" />
      <span class="custom-checkbox">technology</span>
    </label>

    <label class="checkbox-wrapper">
      <input type="checkbox" class="checkbox-input" />
      <span class="custom-checkbox">news</span>
    </label>
  </div>
  <button type="submit">Submit</button>
</form>
<section id="posts-container"></section>
{{end}} {{define "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
<script src="/static/scripts/posts.js"></script>
{{end}}
