:root {
    --primary-color: #3498db;
    --secondary-color: #ffc171;
    --background-color: #f0f3f5;
    --text-color: #333333;
    --link-color: #3498db;
    --hover-color: #66addc;
    --shadow: 0 0 10px 5px gray;
}