* {
    padding: 0;
    margin: 0;
}

.form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: auto;
    border: none;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 25px;
    padding: 20px;
}

form {
    width: 90%;
    margin: auto;
}

.minititle {
    text-align: center;
}


.lbl {
    font-size: 25px;
    color: #2867c5;
}

.impt {
    height: 35px;
    width: 400px;
    border: #2867c5 solid 1px;
    border-radius: 25px;
    margin: 3% 0;
    padding-left: 4%;
}

.submit {
    border: 1px solid #ccc;
    font-size: 25px;
    outline: none;
    padding: 2%;
    margin: 0 35%;
    border-radius: 25px;
    background-color: rgb(37, 132, 221);
    padding: 2% 7%;
    color: white;
}

a {
    color: #0023be;
    text-decoration: none;
    font-size: 20px;
}