header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: 3;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  padding: 15px 0 0 25px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.logolink {
  text-decoration: none;
  color: var(--text-color);
  transition: color 200ms ease;
}

.logolink:hover {
  color: var(--hover-color);
}

.navbar {
  list-style: none;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}

.navbar .navlinks {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

#filter {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  font-size: 2rem;
}
