*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

.grip{
    
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
    height: 100%;
  
}
.form{

    width: 35%;
    height: auto;
    color: #2867c5;
    border: 1px solid rgb(0, 50, 124);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    justify-items: center; 
    align-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

}
h1{
    margin: 7% 0 ;
}
form{
    margin: 10%;
}

label{
    font-size: 25px;
    color: #2867c5;
}
input{
    height: 35px;
    width: 400px;

    border: #2867c5 solid 1px;
    border-radius: 25px;
    margin-bottom: 3%;
    padding-left: 4%;
}

button{
    border: 1px solid #ccc;
    font-size: 25px;
    outline: none;
    padding: 2%;
    margin: 0 35% ;
    border-radius: 25px;
    background-color: rgb(37, 132, 221);
    padding: 2% 7%;
    color: white;
}


a{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}